@use "../abstracts/variables" as v;

/* FEATURES SECTION */
.features__feature {
  background: v.$item;
  border: 2px solid v.$secondary;
  border-radius: 8px;
  padding: 8px;
}

.features__img {
  border-radius: 8px;
}