@use "../abstracts/variables" as v;

/* HEADER */
.header {
    background-color: v.$primary;
    inline-size: 100vw;
    position: sticky;
    top: 0;

    &__logo {
        max-block-size: v.$space-m-s;
    }
}