@use "../abstracts/variables" as v;
/* HERO SECTION */
.hero {
  color: v.$text-light;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url("../img/kobo-lady.jpg");
  background-position: center;
  background-size: cover;
  &__heading {
    border-inline-start: 4px solid #bf0001;
    padding-inline-start: v.$space-4xs; //push left border further away
  }
  &__content {
    max-inline-size: min(90vw, 800px);
    block-size: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__description {
    font-size: v.$step--4;
  }
  &__buttons {
    margin-inline-start: auto;
  }
  &__button--buy {
    background-color: v.$primary;
  }
  &__button--learn {
    margin-inline-start: v.$space-4xs;
    background-color: v.$secondary;
    text-decoration: none;
  }
  &__button--learn a {
    text-decoration: none;
  }
}