@use "../abstracts/variables" as v;
/* LAYOUT */
.stack-main > * + * { 
  margin-block-start: 2rem; 
}
.stack-section > * + * {
  margin-block-start: 0.5rem; 
}
.cover {
  inline-size: 100vw;
  block-size: calc(100vh - #{v.$space-4xs} - #{v.$space-m-s});; //subtract header padding and logo size from the 100vh making sure the cover fills all the remaining space after header is rendered
}

.grid-container-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
}