$header: #bf0001;
$footer: #222222;

$primary: #bf0001; //main brand colour
$secondary: #222222;
$item: #f2f2f2; //for items

$heading-one: white; //for h1
$heading-two: #bf0001; //for h2

$text-dark: black; //for light backgrounds
$text-light: white; //for dark backgrounds

$font-primary: Arial, Helvetica, sans-serif;


/* @link https://utopia.fyi/type/calculator?c=300,28,1.2,1850,66,1.25,5,6,&s=0.75|0.5|0.25|0.125,1.5|2|3|4|6|7|8,xs-l|m-l&g=s,l,xl,12 */
/* Step -4: 13.5031px → 27.0336px */
$step--4: clamp(0.8439rem, 0.6803rem + 0.8729vw, 1.6896rem);
/* Step -3: 16.2037px → 33.792px */
$step--3: clamp(1.0127rem, 0.8rem + 1.1347vw, 2.112rem);
/* Step -2: 19.4444px → 42.24px */
$step--2: clamp(1.2153rem, 0.9395rem + 1.4707vw, 2.64rem);
/* Step -1: 23.3333px → 52.8px */
$step--1: clamp(1.4583rem, 1.1019rem + 1.9011vw, 3.3rem);

/* @link https://utopia.fyi/space/calculator?c=300,28,1.2,1850,66,1.25,5,6,&s=0.75|0.5|0.25|0.125,1.5|2|3|4|6|7|8,xs-l|m-l&g=s,l,xl,12 */
/* Space 4xs: 4px → 8px */
$space-4xs: clamp(0.25rem, 0.2016rem + 0.2581vw, 0.5rem);
/* Space 3xs: 7px → 17px */
$space-3xs: clamp(0.4375rem, 0.3165rem + 0.6452vw, 1.0625rem);
/* Space 2xs: 14px → 33px */
$space-2xs: clamp(0.875rem, 0.6452rem + 1.2258vw, 2.0625rem);

/* Custom pairs */
/* Space m-s: 42px → 66px */
$space-m-s: clamp(2.625rem, 2.3347rem + 1.5484vw, 4.125rem);