$primary-colour: #bf0001; //main brand colour
$secondary-colour: #222222;
$item-colour: #f2f2f2; //for grid items

$heading-one: white; //for h1
$heading-two: #bf0001; //for h2

$text-dark: black; //for light backgrounds
$text-light: white; //for dark backgrounds

$font-primary: Arial, Helvetica, sans-serif;