@use "../abstracts/variables" as v;
/* GLOBAL */
img {
  max-inline-size: 100%;
  display: block; //to remove the little margin at the bottom of images the browser adds to them.. should this be in reset?
}
h1 {
  color: v.$heading-one;
  font-size: v.$step--1;
}
h2 {
  color: v.$heading-two;
  font-size: v.$step--2;
}
a {
  color: inherit;
}